body{
  background-color: beige;
}
#header{
  background-color: black;
}
#menu{
  display: flex;
  list-style: none;
  padding: 0;
}
#menu li{
  position: relative;
}
#menu li a{
  text-decoration: none;
  display: block;
  color: white;
  padding: 12px 10px;
}
li a:hover{
  background-color: red;
}
#menu ul.menu-con{
  position: absolute;
  background-color: rgb(63, 61, 61);
  list-style: none;
  padding: 0;
  width: 200px;
  display: none;
}
#menu ul.menu-con a{
  border-bottom: 1px solid;
}
#menu ul.menu-con ul.menu-con{
  left: 100%;
  top: 0px;
}
#menu li:hover>ul.menu-con{
  display: block;
}
